[Unit]
Description=rpm sample app

[Service]
User=root
Group=root
# 前提: launchScriptを利用
ExecStart=/opt/sample/app/sample-app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
