[[source]]
url = "https://edge.artifactory.corp.yahoo.co.jp:4443/artifactory/api/pypi/apj-pypi/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
